@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-white: #fff;
    --color-black: #000000;
    --color-grey: #2d2d2d;
    --color-red: #e50914;

    --font-Archivo: 'Archivo', sans-serif;
    --font-Archivo-Black: 'Archivo Black', sans-serif;
}

/* ----------- */
/* CSS reset */
/* ------- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    /* padding: 0; */
}

body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-Archivo);
}

img, svg {
    display: block;
    max-width: 100%;
    /* border: 2px solid #fff; */
}

input, button{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

li{
    list-style: none;
}

a{
    color: inherit;
}

/* ---------------- */
/* Utility classes */
/* -------------- */

/* Container */
.container{
    max-width: 66rem;
    margin-inline: auto;
    padding-inline: 1.4rem;
}

/* Text */

.text-title{
    font-size: 2rem;
    font-weight: 800;
}

.text-paragraph{
    font-size: 1.125rem;
} 

.text-paragraph-small{
    font-size: 1.1rem;
}

/* Margin */
.my-big{
    padding-block: 5rem;
}
.mt-1{
    margin-block-start: 3rem;
}
.mt-2{
    margin-block-start: 1.6rem;
}
.mt-3{
    margin-block-start: 1rem;
}
.mt-4{
    margin-block-start: 0.6rem;
}
.mt-5{
    margin-block-start: 0.4rem;
}
.mb-2{
    margin-block-end: 1.6rem;
}

/* Buttons */
.btn-red-small{
    padding: 0.3rem 1.1rem;
    background-color: var(--color-red);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.btn-red-small:hover,
.btn-red-small:focus{
    background-color: #d20e18;
}

.btn-red{
    padding: 0.7rem 1.9rem;
    background-color: var(--color-red);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    /* display: block; */
}
.btn-red:hover,
.btn-red:focus{
    background-color: #d20e18;
}

/* inputs */
.email-input{
    background-color: rgba(45, 45, 45, .6);
    border: 1px solid rgb(93, 93, 93);
    color: var(--color-white);
    padding: 0.8rem 1.6rem;
    outline: none;
    border-radius: 5px;
    max-width: 100%;
}

/* horizontal line */
.line{
    height: 0.46rem;
    background-color: var(--color-grey);
    border: none;
}

/* More */
.hidden{
    display: none;
}

.text-center{
    text-align: center;
}


/* ----------------- */
/* Main CSS styling */
/* --------------- */

/* Hero section */
.hero-group{
    background: url(/assets/hero-image.png) no-repeat center center/cover;
    height: 35rem;
}
.hero-content{
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}

/* Header */
.logo{
    width: 5.22rem;
}

.header .container{
    height: 5.2rem;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section{
    height: calc(35rem - 5.2rem);
}

.hero-section .container{
    height: 100%;
    /* border: 2px solid wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    /* align-items: center; */
    text-align: center;
}


/* Sections after hero section */
.enjoy-tv-section .container .row,
.download-section .container .row,
.watch-anywhere-section .container .row,
.create-profile-section .container .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 2rem;
}

.section-img-group{
    /* border: 2px solid #fff; */
    min-height: 24rem;
    max-width: 26rem;
    display: flex;
    align-items: center;
} 

.section-img{
    height: 100%;
    width: 100%;
}

/* FAQ section */
.faq .container{
    width: 100%;
}

.faq .text-title{
    text-align: center;
}

.faq .faq-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    /* border:  2px solid #fff; */
}

.faq .faq-list .question-group{
    width: 100%;
    transition: all 200ms ease-in;
}

.faq .faq-list .question-group .question-title,
.faq .faq-list .question-group .question-text{
    background-color: var(--color-grey);
    font-size: 1.2rem;
    padding: 1.4rem;
}


/* Question text is answer of question title */
.faq .faq-list .question-group .question-text{
    margin-top: 2px;
}

.faq .faq-list .question-group .question-title:hover{
    background-color: #3d3c3c;
}

.question-group .question-title{
    display: flex;
    justify-content: space-between;
}

.question-group .question-title .question-btn{
    border: none;
    background-color: transparent;
}

.question-group .question-title .question-btn span img{
    width: 18px;
}

.question-text {
    display: none;
} 
.show-text .question-text {
    display: flex;
}
.minus-icon {
    display: none;
}
.show-text .minus-icon {
    display: flex;
}
.show-text .plus-icon {
    display: none;
}

.faq-section .container .input-group{
    display: flex;
    flex-direction: column;
}


/* Footer */
.footer .container .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgba(225, 225, 225, 0.7);
}

.footer .container .row .col-outer .col ul li{
    margin-top: 0.8rem;
}

/* Tablets and bigger screen */
@media (min-width: 42rem){

    .email-input{
        padding: 0.9rem 1.55rem;
        font-size: 1.3rem;
        width: 60%;
    }

    .input-group{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn-red{
        padding: 0.7rem 1.55rem;
        font-size: 1.6rem;
    }

    .faq-section .container .input-group{
        display: flex;
        flex-direction: row;
    }


}

/* Laptop and bigger screen */
@media (min-width: 58rem){

    .hero-content .header .container{
        max-width: 74rem;
    }

    .hero-group{
        height: 100dvh;
    }

    .logo{
        width: 8rem;
    }

    .hero-section{
        height: calc(100dvh - 5.2rem);
    }

    .text-title{
        font-size: 3rem;
        font-weight: 900;
    }
    
    .text-paragraph{
        font-size: 1.5rem;
    } 
    
    .text-paragraph-small{
        font-size: 1.25rem;
    }

    .enjoy-tv-section .container .row,
    .download-section .container .row,
    .watch-anywhere-section .container .row,
    .create-profile-section .container .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 2rem;
    }

    .my-big{
        padding-block: 7rem;
    }

    .download-section .container .row .section-text-group,
    .create-profile-section .container .row .section-text-group {
        order: 2;
    }

    .download-section .container .row .section-img-group,
    .create-profile-section .container .row .section-img-group {
        order: 1;
    }

    .footer .container .row {
        gap: 5rem;
    }

    .footer .container .row .col-outer {
        display: flex;
        width: 100%;
        gap: 2rem;
        justify-content: space-between;
    }
}


